<div class="container p-4">
    <div class="row">
        {{#each contact}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title text-uppercase">
                        {{nameContacto}}
                    </h3>
                    <p>TLF: {{tlf}}</p>
                    <p>Correo: {{correo}} </p>
                    <p>Descripsión: {{description}}</p>
                    <p>Creado: {{timeago created_at}} </p>
                    <a href="/links/delete/msj/{{id}}" class="btn btn-danger">Eliminar link</a>
                    <a href="/links/edit/{{id}}" class="btn btn-secondary">Editar</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay Contactos aun, ingresa alguno</p>
                <a href="/links/add">Crea uno!</a>
            </div>
        </div>

        {{/each}}
    </div>

</div>